<h1>Boshqa Adabiyotlar</h1>
<div class="div">
    <div>
        <a class="a" href="http://www.wayu.uz/uploads/1/XklEfI67uMZfdNUE-5DQbsFT9l0nDvAt.pdf"><img src="https://assets.asaxiy.uz/product/items/desktop/9c42b488c69d9c5e850891cb331041fa2020090122431417824uhQC9PhGTX.jpg.webp" /><h5 class="h5"clQurani Karim</h5></a>
    </div>
    <div>
    
        <a class="a" href="https://madrasa.uz/books/tahoviy-aqida-matni.pdf">
            <img src="https://hilolnashr.uz/image/cache/catalog/Aqidatuttahoviya_500x750-500x750.jpg" />
    </a>
       
    </div>
    <div>
        <a class="a" href="http://library.navoiy-uni.uz/files/islom%20huquqi.pdf"><img src="https://0.academia-photos.com/attachment_thumbnails/56682988/mini_magick20180817-2253-13z0cw2.png?1534542394" /></a>
    </div>
    <div>
   
        <a class="a" href="https://fayllar.org/pars_docs/refs/104/103575/103575.pdf">
            <img src="https://storage.kun.uz/source/4/ceI-7kTjqIc04aqoK82NNWUNBR0bKg2j.jpg" />
    </a>
       
    </div>
    <div>
    
        <a class="a" href="http://madrasa.uz/books/mustalahul-hadis.pdf"><img src="https://hilolnashr.uz/image/cache/catalog/001-Kitoblar/hilol-nashr-kitoblari/mustalahul-hadis-new-web-500x750.jpg" /></a>
     
    </div>
    <div>
    
            <a class="a" href="https://e-library.namdu.uz/86%20Dinshunoslik/Sof%20tabiat%20dini.pdf"><img src="https://hilolnashr.uz/image/cache/catalog/MSMY/sof-tabiat-dini-web-500x750.jpg" /></a>
   
    </div>
    <div>

        <a class="a" href="https://hostnezt.com/cssfiles/muslimlaw/Usul%20Al-Fiqh%20-%20Abdul%20Hannan.pdf"><img src="https://m.media-amazon.com/images/I/41RkVGyjaGL.jpg" /></a>
  
    </div>

</div>
<style>
    .a img{
        width:300px;
        height:400px;
        margin:10px;
        border-radius:15px;
       
    }
    .div{
       display:flex;
       flex-wrap:wrap;
    }
   
</style>