
<div class="div">
    <a class="example2" asp-controller="Books" asp-action="Tafsiri_hilol"> <img class="img" src="http://tafsirihilol.uz/uploads/posts/58d31e6fa2421.png" /></a>
    <a class="example2" asp-controller="Books" asp-action="HAdisvaHayot"><img src="https://play-lh.googleusercontent.com/yxJC-HGcHbf46qX3lDkplZowYAldfoONdMFfvHMv_Sf1f3wOPN4SZSLr35NoMy3mhks=w480-h960-rw" /></a>
   <a class="example2" asp-controller="Books" asp-action="Xislatlihikmatlar"><img src="https://islom.uz/img/section/section_1491543373.jpg" /></a>
   <a class="example2"><img src="https://static10.tgstat.ru/channels/_0/5a/5ae394c534a91f54b16ae87d2871b166.jpg" /></a>
<a class="example2"><img src="https://islom.uz/img/section/2019/02/1550575590.jpg"/></a>
    <a class="example2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvexrpHsEEXbiKR9CXHgwSJUEvsxYPxw3fgR6J8TK7_5_tQLKJf5Bcj25iQtOn071BG1o&usqp=CAU" /></a>
    <a class="example2"><img src="https://islom.uz/img/section/section_1516704541.jpg" /></a>
    <a class="example2" asp-controller="Books" asp-action="Boshqa"><img src="https://storage.kun.uz/source/uploads/20180508/8748770171.jpg" /></a>
</div>
<style>
    .example2 img {
       border-color:goldenrod;
       border-radius:20px;
       width:300px;
       height:300px;
}

    .div {
        display: flex;
        flex-wrap: wrap;
    }
</style>