<body class="body">
    <div>
    <div class="div">
        <div >
                <a class="example2" href="http://e-library.namdu.uz/81%20%D0%A2%D0%B8%D0%BB%D1%88%D1%83%D0%BD%D0%BE%D1%81%D0%BB%D0%B8%D0%BA/Tafsiri%20Hilol%201%20juz.pdf"><img src="https://hilolnashr.uz/image/cache/catalog/Tafsir-30-rus_400x600-250x375.jpg" /></a></><br />
<p class="p">
    2009-yil[2]
    2012-yil[3]
    2013-yil

                </p>
            </div>
            <div class="div1">
                <a class="example2" href="/hadis2.pdf"><img src="https://hilolnashr.uz/image/cache/catalog/Tafsir-30-rus_400x600-250x375.jpg" /> </a><br />
    <p class="p">
    2009-yil
    2012-yil
                </p>
            </div>
            <div class="div1">
                <a class="example2" href="/hadis3.pdf"><img src="https://hilolnashr.uz/image/cache/catalog/Tafsir-30-rus_400x600-250x375.jpg" /></a><br />
    <p class="p">
    2009-yil
    2012-yil
    2013-yil
                </p>
            </div>
        </div>
        <div class="div">
            <div class="div1">
                <a class="example2" href="https://e-library.namdu.uz/81%20%D0%A2%D0%B8%D0%BB%D1%88%D1%83%D0%BD%D0%BE%D1%81%D0%BB%D0%B8%D0%BA/TAFSIRI%20HILOL%204-JUZ.pdf"><img src="https://hilolnashr.uz/image/cache/catalog/Tafsir-30-rus_400x600-250x375.jpg" /></a><br />
    <p class="p">
    2009-yil
    2012-yil
    2013-yil
                </p>
            </div>
            <div class="div1">
                <a class="example2" href="https://e-library.namdu.uz/81%20%D0%A2%D0%B8%D0%BB%D1%88%D1%83%D0%BD%D0%BE%D1%81%D0%BB%D0%B8%D0%BA/Tafsiri%20Hilol%205%20juz.pdf"><img src="https://hilolnashr.uz/image/cache/catalog/Tafsir-30-rus_400x600-250x375.jpg" /></a><br />
    <p class="p">
    2009-yil
    2012-yil
    2013-yil
                </p>
            </div>
            <div class="div1">
                <a class="example2" href="https://e-library.namdu.uz/86%20Dinshunoslik/Tafsiri%20Hilol%206%20juz.pdf"><img src="https://hilolnashr.uz/image/cache/catalog/Tafsir-30-rus_400x600-250x375.jpg" /></a><br />
    <p class="p">
    2008-yil
    2009-yil
    2012
    2013-yil
            </p><br />
        </div>
        </div>

    </div>
    
    <p class="boshqa">Tafsiri Hilol kitobining 6-juzi Qurʼoni Karimning Ar-rohman surasidan boshlab Nas surasigacha tafsir qilingan boʻlib jami 640 betdan tashkil topgan.</p>
    <div class="D">
        <a class="example2" href="http://www.wayu.uz/uploads/1/XklEfI67uMZfdNUE-5DQbsFT9l0nDvAt.pdf"><img src="https://hilolnashr.uz/image/cache/catalog/Tafsir-30-rus_400x600-250x375.jpg" /></a>
        <p class="undanboshqa">Abulaziz Manur tomonidan 30 juzni yani hamma juzni  tafsiri</p>
    </div>
</body>
<style>
    .example2 {
        background-image: url();
        border-color: goldenrod;
        border-radius: 50px 20px;
        width:300px;
        height:300px;
        margin:80px;
        background-repeat: no-repeat;
        background-size: cover;
       
    }
    .D{
    margin-left:400PX;
    }
    .div{
       display:flex;
    }
        .p{
        margin-left:80px;
        }
   
    .boshqa{
        
        font-size:20px;
    }
    .undanboshqa{
        margin-left:10px;
    }
</style>