<div class="container">
    <h1 class="text-center">Videos</h1>
    <p class="text-center">label</p>
    <div class="row">
        <div class="col-lg-4 col-md-3 col-6">
            <div>
                <iframe class="w-100 " src="https://www.youtube.com/embed/5q8Ypn5q26o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div>
                <iframe class="w-100 " src="https://www.youtube.com/embed/SBdJwYQWfT0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div>
                <iframe class="w-100 " src="https://www.youtube.com/embed/WNXugcfCrO0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-4 col-md-3 col-6">
            <div>
                <iframe class="w-100 " src="https://www.youtube.com/embed/nkMsudB10F0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div>
                <iframe class="w-100 " src="https://www.youtube.com/embed/vwHhAkVssnY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div>
                <iframe class="w-100 " src="https://www.youtube.com/embed/pZO5oLEZ1h0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
        <div class="col-lg-4 col-md-3 col-6">
            <div>
                <iframe class="w-100" src="https://www.youtube.com/embed/5q8Ypn5q26o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div>
                <iframe class="w-100" src="https://www.youtube.com/embed/SBdJwYQWfT0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div>
                <iframe class="w-100" src="https://www.youtube.com/embed/WNXugcfCrO0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>  
       

    </div>
</div>


<style>
    iframe {
        border-radius: 10px;
        height: 300px;
    }
</style>