@{
    ViewData["Title"] = "Home Page";
}
<body class="body">

<div class="b">
        <img class="d" src="https://pbs.twimg.com/media/EkUe7WjXsAAhG4w?format=jpg&name=4096x4096" width="500" height="300" />
        <div class="div">
            <p>
                Shayx Muhammad Sodiq Muhammad Yusuf<br /><br />
                Tavallud topgan sana: 15 aprel 1952 yil<br /><br />

                Vafot etgan sana: 10 mart 2015 yil<br /><br />

                Tug'ilgan joy:Andijon viloyati<br /><br />

                Yo'nalishlar: Dinshunos va ma’rifatparvarlar
            </p>
        </div>
    </div>
</body>
<body class="body2">
   
    <button class="element"><p>  Ushbu veb-sayt musulmon dunyosi uchun ulkan hissasini qoshgan olim<br /> "Shayx Muhammad Sodiq Muhammad Yusuf" hazratlari haqida malumot beradi </p></button>

    <h5 class="t">Tarjimai hol</h5><br /><br />
    <div class="matn">
        
                    <h3 class="section-name">Tarjimai hol</h3>
                    <p>Yetuk alloma, mujaddid, mufassir, muhaddis, faqih, mutafakkir, murshid, zohid Shayx Muhammad Sodiq Muhammad Yusuf o‘z zamonasida islom olamining yirik namoyandasi, ulkan arbob, SSSR Oliy Kengashining xalq deputati, O‘rta Osiyo va Qozog‘iston musulmonlari diniy idorasining sobiq muftiysi, mustaqil O‘zbekistonning birinchi muftiysi, ko‘plab xalqaro ilmiy muassasalar, diniy tashkilotlarning a’zosi, o‘zbekzabon xalqlarning diniy rahnamosi bo‘lgan.</p>

                    <p>
                        Talabalik davri:<br>
                        Shayx Muhammad Sodiq Muhammad Yusuf 1969 yili Buloqboshi qishlog‘idagi o‘rta maktabni tugatgach, 1970 yili Buxorodagi Mir Arab Madrasasiga o‘qishga kirdi. U paytda madrasadagi o‘qish 7 yillik bo‘lgan. Shayx Muhammad Sodiqni o‘sha kungacha hosil qilgan bilimi asosida bir yo‘la 5-bosqichga olishdi. Natijada u madrasani 3 yilda tamomladi. Uni darsda, ilmda ilg‘orligidan madarasadagi talabalar «peshqadam» deb atashardi.<br>
                        Muhammad Yusuf domla ham farzandining yaxshi ilm olishi, taqvoda mustahkam bo‘lishi uchun bor kuchini sarfladi. Hatto o‘g‘lini boshqalar oraqali maxsus kuzatib bordi. Shayx Muhammad Sodiq 1973 yili madrasadan Imom Buxoriy nomidagi Toshkent Islom instituti (Oliy Ma’had)ga o‘qishga kirdi. Qabul imtihonidan yuqori baholarda o‘tgan Muhammad Sodiq institutga ham bir yo‘la 3-bosqichga qabul qilindi va uni ham 2 yilda a’lo baholarga bitirdi.<br>
                        U 1975 yili «Sovet sharqi musulmonlari» jurnalida faoliyat boshladi.&nbsp;<br>
                        1976 yili O‘rta Osiyo va Qozog‘iston musulmonlari diniy idorasining yo‘llanmasi bilan Liviyaning Tripoli shahridagi «Islomiy da’vat fakulteti» nomli dorulfununga o‘qishga kirdi.&nbsp;<br>
                        Shayx Muhammad Sodiq Liviyada butun dunyodan kelgan talabalar orasida ham eng tirishqoq va eng ite’dodli talaba sifatida namoyon bo‘ldi. U 1980 yili Liviya oliygohini eng yuqori ball bilan imtiyozli tamomlab, talabalar orasida birinchilikni qo‘lga kiritdi va dorufunun tarafidan moddiy mablag‘ bilan mukofotlandi.
                    </p>

                    <p>
                        Ishlagan vazifalari, bajargan ishlari:<br>
                        Shayx Muhammad Sodiq Muhammad Yusuf 1980 yilda o‘qishni tamomlab, Liviyadan O‘zbekistonga qaytib kelgach, quyidagi vazifa va lavozimlarda faoliyat yuritdi.<br>
                        1981 yili Imom Buxoriy nomidagi Toshkent Islom instituti o‘qituvchisi:&nbsp;<br>
                        1982 yili Imom Buxoriy nomidagi Toshkent Islom instituti rektor muovini;<br>
                        1984 yili Imom Buxoriy nomidagi Toshkent Islom instituti rektori vazifalarida ishladi.<br>
                        U institutda 1981 - 1989 yillar mobaynida tafsir, hadis, ulumi Qur’on, aqida fanlaridan dars berdi.<br>
                        1989 yili 6 fevralda O‘rta Osiyo va Qozog‘iston musulmonlari diniy idorasi muftiysi bo‘ldi;<br>
                        1989 yil dekabr oyida SSSR Oliy Kengashining xalq deputati etib saylandi;<br>
                        1993 yil iyun oyida muftiylik lavozimidan iste’foga chiqdi.
                    </p>

                    <p>
                        Ilmiy faoliyati:<br>
                        Shayx Muhammad Sodiq Muhammad Yusufning ilk maqolalari 1975 yili «Sovet sharqi musulmonlari» nashriyotida ishlagan kezlari nashr qilina boshlagan.<br>
                        1991 - 1993 yillari «Tafsiri Hilol» nomli Qur’oni Karim tafsirining 28 - 30-juzlari hamda «Poklik iymondandir» kitobi, 1992 yili «Iymon» va «Shoyadki taqvodor bo‘lsak», 1997 yili «Islom musaffoligi yo‘lida» asarlari chop qilindi.<br>
                        Shayx Muhammad Sodiq Muhammad Yusuf o‘z yurtida 2001 - 2015 yillar orasida keng miqyosda ilmiy faoliyat olib bordi. Ko‘plab kitoblar, ovozli hamda tasvirli yozuvlarda ilmiy suhbatlar, mav’izalar, turkum darslar, ma’raka-yig‘inlardagi ma’ruzalari, xalqaro internet sahifasidagi 25000 dan ortiq turli mavzulardagi savol-javoblari bilan xalqning diniy savodi oshishiga, kishilarning sof Islomni anglashiga ulkan hissa qo‘shdi. Uning ilmiy asarlari sababli xalq orasidagi ko‘plab ixtilof va tortishuvlar barham topdi, hanafiy mazhabi mustahkamlandi, xatarli fitnalarning oldi olindi, qanchadan-qancha adashgan insonlar to‘g‘ri yo‘lni tuta boshladi, musulmonchilikdan bexabar odamlar o‘z musulmonchiligiga qaytdi, el orasida tinch-totuvlik, do‘stlik ruhi taraldi.<br>
                        Uning rahbarligida xalqaro internet tarmog‘ida o‘zbek tilidagi sof islomiy sahifaga ilk bor asos solindi. Ushbu islom.uz sayti o‘zbek tilidagi eng faol va a’zosi eng ko‘p sahifa hisoblanadi. Islom.uz portali asosida turli yo‘nalishlardagi yigirmadan ortiq mustaqil sahifa yaratilib, ularning har biri o‘z mavzusida eng boy va eng faol saytlarga aylandi. U to‘qqizta hadis to‘plami tarjimasidan iborat «Oltin Silsila» hamda katta «Islom qomusi» loyihalari asoschisidir.
                    </p>

                    <p>
                        Asarlari:<br>
                        Yozma asarlar:<br>
                        1. &nbsp; &nbsp;Qur’oni Karim ma’no tarjimasi.<br>
                        2. &nbsp; &nbsp;Tafsiri Hilol. Qur’oni Karim tafsiriga bag‘ishlangan, yirik olti jilddan iborat;<br>
                        3. &nbsp; &nbsp;Hadis va Hayot. Mansur Aliy Nosif Husayniyning Islomning asosiy mavzulari bo‘yicha jamlangan hadislar to‘plami bo‘lmish «At-tajul-jami’ lil-usul fi ahadisir-rosul» asarining tarjima va sharhi. Ushbu «Hadis va Hayot» majmuasi 37 jilddan iborat 39 juzli yirik silsila bo‘lgan. Ular quyidagilardir:<br>
                        Amirlik va Qozilik alomatlari;<br>
                        4. &nbsp; &nbsp;Sunniy aqidalar;<br>
                        5. &nbsp; &nbsp;Aqiydatut-tahoviya sharhining talxisi;&nbsp;<br>
                        6. &nbsp; &nbsp;Aqoid ilmi va unga bog‘liq masalalar;<br>
                        7. &nbsp; &nbsp;Usulul-fiqh;<br>
                        8. &nbsp; &nbsp;Kifoya (Ubaydulloh ibn Mas’ud Hanafiyning «An-nuqoya fi muxtasaril-viqoya» asarining tarjima va sharhi);<br>
                        9. &nbsp; &nbsp;Fiqhiy yo‘nalishlar va kitoblar;<br>
                        10. &nbsp; &nbsp;Mazhablar - birlik ramzi;<br>
                        11. &nbsp; &nbsp;Ixtiloflar, sabablar, yechimlar;<br>
                        12. &nbsp; &nbsp;Qur’on ilmlari;&nbsp;<br>
                        13. &nbsp; &nbsp;Mustalahul-hadis;<br>
                        14. &nbsp; &nbsp;Tasavvuf haqida tasavvur;<br>
                        15. &nbsp; &nbsp;Ruhiy tarbiya: 1-jild «poklanish», 2-jild «tiklanish», 3-jild «xulqlanish»;<br>
                        16. &nbsp; &nbsp;Xislatli hikmatlar (Ibn Atoulloh Sakandariyning «Hikam»iga yozilgan sharh), 5 jild;<br>
                        17. &nbsp; &nbsp;Rasululloh sollallohu alayhi vasallam; (tarjima)<br>
                        18. &nbsp; &nbsp;Zikr ahlidan so‘rang (savol-javoblar to‘plami), 4 jild;<br>
                        19. &nbsp; &nbsp;Odoblar xaziynasi (Imom Buxoriyning «Al-dabul-mufrad» asarining tarjima va sharhi), 4 jild;<br>
                        20. &nbsp; &nbsp;Yaxshilik va silai rahm (Husayn ibn Hasan Marvaziyning «Kitabul-birri vas-sila» asarining tarjima va sharhi);<br>
                        21. &nbsp; &nbsp;Islomning madori bo‘lgan hadislar rukni (kichik 4 jild);<br>
                        22. &nbsp; &nbsp;Iymon;<br>
                        23. &nbsp; &nbsp;Islomda inson huquqlari;<br>
                        24. &nbsp; &nbsp;Islomda ekologiya;<br>
                        25. &nbsp; &nbsp;Vasatiya - hayot yo‘li;<br>
                        26. &nbsp; &nbsp;Mukammal saodat yo‘li;<br>
                        27. &nbsp; &nbsp;Oila farog‘at qasri;&nbsp;<br>
                        28. &nbsp; &nbsp;Baxtiyor oila;<br>
                        29. &nbsp; &nbsp;Ijtimoiy odoblar;&nbsp;<br>
                        30. &nbsp; &nbsp;Islom - sof tabiat dini;<br>
                        31. &nbsp; &nbsp;Din nasihatdir;<br>
                        32. &nbsp; &nbsp;Bozor va unga bog‘liq masalalar;<br>
                        33. &nbsp; &nbsp;Qarz va unga bog‘liq masalalar;<br>
                        34. &nbsp; &nbsp;Folbinlik, sehrgarlik, jin chiqarish va &nbsp;noan’anaviy davolash kabi ishlar haqiqati;<br>
                        35. &nbsp; &nbsp;Yolg‘on;&nbsp;<br>
                        36. &nbsp; &nbsp;Isrof;<br>
                        37. &nbsp; &nbsp;Shoyadki taqvodor bo‘lsak;<br>
                        38. &nbsp; &nbsp;Mo‘minning meroji - mufassal namoz kitobi (kiril va lotin alifbolarida);&nbsp;<br>
                        39. &nbsp; &nbsp;Ramazonni qarshilab;<br>
                        40. &nbsp; &nbsp;Hidoyat imomi - Imom Abu Mansur Moturidiy;<br>
                        41. &nbsp; &nbsp;Samarqandning sara ulamolari;&nbsp;<br>
                        42. &nbsp; &nbsp;Ochiq xat;&nbsp;<br>
                        43. &nbsp; &nbsp;Keksalarni e’zozlash;<br>
                        44. &nbsp; &nbsp;Sog‘lom bola;
                    </p>

                    <p>
                        Rus tilidagi kitoblari:<br>
                        1. &nbsp; &nbsp;Iyman, Islam, Kur’an;&nbsp;<br>
                        2. &nbsp; &nbsp;Sunnitskiye veroubejdeniya<br>
                        3. &nbsp; &nbsp;Vasatiya - put jizni;&nbsp;<br>
                        4. &nbsp; &nbsp;Istina o suti gadaniya, koldovstva, izgnaniya djinnov i netraditsionnix metodov lecheniya;<br>
                        5. &nbsp; &nbsp; Raznoglasiya: prichini i resheniya<br>
                        6. &nbsp; &nbsp;Tafsiri Xilal 30-djuz;&nbsp;<br>
                        7. &nbsp; &nbsp;Tafsiri Xilal 1 i 2-tom;<br>
                        8. &nbsp; &nbsp; Xadisi i Jizn: 1-tom «Vvedeniye», 2-tom «Islam i Iyman», 3-tom «Namereniye, ixlas i znaniye», 4-tom «Chistota», 18-tom «Istseleniya i rukya», 19-tom «Prorok, yavivshiysya miram milostyu».<br>
                        Tasvirli yozuvlar:<br>
                        1. &nbsp; &nbsp;Ijtimoiy odoblar: 2012 yil Ramazon suhbatlari (7 ta disk)&nbsp;<br>
                        2. &nbsp; &nbsp;Ramazon tuhfasi: 2013 yil Ramazon suhbatlari (6 ta disk);<br>
                        3. &nbsp; &nbsp;Alohning zikri ila qalblar orom topur: 2014 yil Ramazon suhbatlari (5 ta disk);<br>
                        4. &nbsp; &nbsp;Baxtiyor oila (2ta disk);<br>
                        5. &nbsp; &nbsp;Ibratli dunyo;<br>
                        6. &nbsp; &nbsp;Odoblar bo‘stoni (2 ta disk);<br>
                        7. &nbsp; &nbsp;Zikr ahlidan so‘rang (2 ta disk);<br>
                        8. &nbsp; &nbsp;Hikmatli dunyo (5 ta disk);<br>
                        9. &nbsp; &nbsp;Ruhiy tarbiya: 1-Muqaddima, 2-Husni xulq, 3-Ilm;<br>
                        10. &nbsp; &nbsp;Ruhiy tarbiya: 4-Qalbni tozalash, 5-Namoz, 6-Zakot;<br>
                        11. &nbsp; &nbsp;Ruhiy tarbiya: 7-Ro‘za, 8-Haj;<br>
                        12. &nbsp; &nbsp;Ruhiy tarbiya: 9-Qur’on tilovati, 10-Zikr, 11-Kun tartibi (1)<br>
                        13. &nbsp; &nbsp;Ruhiy tarbiya: 12-Kun tartibi (2), 13-Tafakkur;<br>
                        14. &nbsp; &nbsp;Ruhiy tarbiya: 14-Murobata, 15-Nafs pokligi, 16-Husni xulq (1);<br>
                        15. &nbsp; &nbsp;Ruhiy tarbiya: 17-Husni xulq (2), 18-Til ofatlari;<br>
                        16. &nbsp; &nbsp;Ruhiy tarbiya: 19-Yolg‘on, 20-G‘iybat, 21-Chaqimchilik;<br>
                        17. &nbsp; &nbsp;Ruhiy tarbiya: 22-Maddohlik, 23-Kufr;<br>
                        18. &nbsp; &nbsp;Ruhiy tarbiya: 24-Shirk, 25-Fosiqlik, 26-Bid’at;<br>
                        19. &nbsp; &nbsp;Ruhiy tarbiya: 27-Riyo, 28-Hasad;
                    </p>

                    <p>
                        Shahodat va yorliqlari:<br>
                        1. &nbsp; &nbsp;Imom Buxoriy nomidagi Toshkent Islom instituti shahodatnomasi;<br>
                        2. &nbsp; &nbsp;«Islomiy da’vat kulliyasi» oliygohining Arab tili va islomiy ilmlar bo‘yicha «litsensiat» shahodatnomasi, 1980 yil;<br>
                        3. &nbsp; &nbsp;Liviya Jamohiriyasi tomonidan berilgan «Buyuk Fotih» medali, 1989;<br>
                        4. &nbsp; &nbsp;Misr arab Respublikasi tarafidan berilgan birinchi darajali «Ilm va Fan» medali, 28.01.1992;<br>
                        5. &nbsp; &nbsp;Rossiya markaziy diniy idorasi - Rossiya muftiylari sho‘ro majlisi tomonidan berilgan «Al-faxr» ordeni, 01.12.2014.<br>
                        A’zo bo‘lgan tashkilot va muassasalari:<br>
                        1. &nbsp; &nbsp;Makkai Mukarrama shahridagi Islom olami Robitasi tasis majlisi a’zosi;<br>
                        2. &nbsp; &nbsp;Butun dunyo tasavvuf uyushmasining a’zosi;<br>
                        3. &nbsp; &nbsp;Butun dunyo islomiy xalqlar boshqaruvining bosh kotibiyati a’zosi;<br>
                        4. &nbsp; &nbsp;Butun dunyo dav’vat uyushmasi a’zosi;<br>
                        5. &nbsp; &nbsp;Butun dunyo ulamolar kengashi uyushmasi a’zosi;<br>
                        6. &nbsp; &nbsp;Islomobod shahridagi Butun dunyo Islom uyushmasi a’zosi;<br>
                        7. &nbsp; &nbsp;Makkai Mukarramadagi Butun dunyo matfakir ulamolari yig‘ining ijroiy qo‘mitasi a’zosi;<br>
                        8. &nbsp; &nbsp;Butun dunyo masjidlar uyuushmasining a’zosi;<br>
                        9. &nbsp; &nbsp;Iordaniyadagi Oli Bayt «Islomiy tafakkur» qirollik akademiyasi a’zosi.
                    </p>

                    <p>
                        Oilasi:<br>
                        Shayx Muhammad Sodiq Muhammad Yusuf 1974 yili Ismoil maxdum domlaning qizi Fotmaxonga uylandi. Undan bir o‘g‘il, ikki qiz ko‘rdi. Ular Ismoiljon Muhammad Yusuf, Odinaxon Muhammad Yusuf, Ominaxon Muhammad Yusuf. Uning ahlu oilasi barchalari ilm-ma’rifat yo‘lidalar.<br>
                        &nbsp;
                    </p>
    </div>

</body>

<style>
    .body{
        background-color: #F7F7F7;
    }
    .body2{
        
    }
    .b{
        display:flex;
       
 }
    .div{
      margin-top:50px;
    }
    .matn{
        margin-left:200px;
        width:800px;
        background: #EEEEEE;
    }
    .t{
        margin-top:60px;
    margin-left:520px;
    }
   .d{
       width:400px;
       margin-left:250px;
       margin-right:auto;
       border-radius:15%;
   }
   .h1{
       border-color:lightblue;
      
   }

    .element{
        margin-left:250px;
        margin-top:30px;
        border-radius:20px 20px;
        width: 650px;
        height:80px;
        border-color:chocolate;
        border-width:10px;
        background-color:burlywood;
    }
</style>