<h1>Muhammad Sodiq Muhammad Yusuf</h1>
<p>Shayx Muhammad Sodiq Muhammad Yusuf ibn Muhammad Ali (1952-2015) Oʻrta Osiyo va Qozogʻiston musulmonlari diniy boshqarmasining muftiysi (1989-1993). Islom ulamolari millatlararo ittifoqining aʼzosi.</p>
<table class="infobox vcard" cellspacing="1" style="width:270px;">
    <tbody>
        <tr><th colspan="2" class="" style="text-align:center; font-size:120%; font-weight:bold; font-size: 100%;">Muhammad Sodiq Muhammad Yusuf</th></tr>
        <tr class="">
            <td colspan="2" class="" style="text-align:center;">
                <a href="/wiki/Fayl:Shayh_Muhammad_Sodiq.jpg" class="image"><img alt="Shayh Muhammad Sodiq.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Shayh_Muhammad_Sodiq.jpg/220px-Shayh_Muhammad_Sodiq.jpg" decoding="async" width="220" height="220" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Shayh_Muhammad_Sodiq.jpg/330px-Shayh_Muhammad_Sodiq.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Shayh_Muhammad_Sodiq.jpg/440px-Shayh_Muhammad_Sodiq.jpg 2x" data-file-width="833" data-file-height="833"></a>
            </td>
        </tr>
        <tr class="">
            <td colspan="2" class="" style="text-align:center;">
            </td>
        </tr>
        <tr><th colspan="2" class="" style="text-align:center; background:lavender;line-height:normal;padding:0.2em;"><a href="/wiki/O%CA%BBrta_Osiyo_va_Qozog%CA%BBiston_musulmonlari_diniy_boshqarmasi" title="Oʻrta Osiyo va Qozogʻiston musulmonlari diniy boshqarmasi">Oʻrta Osiyo va Qozogʻiston musulmonlari diniy boshqarmasi</a> raisi</th></tr>
        <tr class="">
            <td colspan="2" class="" style="text-align:center; border-bottom:none">
                <span class="nowrap"><b>Mansab davri</b></span><br><a href="/wiki/1989-yil" class="mw-redirect" title="1989-yil">1989-yildan</a>&nbsp;—&nbsp;<a href="/wiki/1993-yil" class="mw-redirect" title="1993-yil">1993-yilgacha</a>
            </td>
        </tr>
        <tr class="">
            <th scope="row" style="text-align:left;">Oʻtmishdoshi</th>
            <td class="" style="border-bottom:none">
                <a href="/wiki/Shamsiddinxon_Boboxonov" title="Shamsiddinxon Boboxonov">Shamsiddinxon Boboxonov</a><sup id="cite_ref-1" class="reference"><a href="#cite_note-1">[1]</a></sup>
            </td>
        </tr>
        <tr class="">
            <th scope="row" style="text-align:left;">Vorisi</th>
            <td class="" style="border-bottom:none">
                lavozim bekor qilingan
            </td>
        </tr>
        <tr><th colspan="2" class="" style="text-align:center; background:lavender">Shaxsiy maʼlumotlari</th></tr>
        <tr class="">
            <th scope="row" style="text-align:left;">Tavalludi</th>
            <td class="" style="">
                15-aprel 1952-yil<span style="display:none">(<span class="bday">1952-04-15</span>)</span><br><a href="/wiki/Andijon" class="mw-redirect" title="Andijon">Andijon</a>, <a href="/wiki/O%CA%BBzSSR" class="mw-redirect" title="OʻzSSR">OʻzSSR</a>, <a href="/wiki/SSSR" class="mw-redirect" title="SSSR">SSSR</a>
            </td>
        </tr>
        <tr class="">
            <th scope="row" style="text-align:left;">Vafoti</th>
            <td class="" style="">
                10-mart 2015-yil<span style="display:none">(<span class="dday">2015-03-10</span>)</span> <br> (62&nbsp;yoshda) <br> <a href="/wiki/Toshkent" title="Toshkent">Toshkent</a>, <a href="/wiki/O%CA%BBzbekiston" title="Oʻzbekiston">Oʻzbekiston</a>
            </td>
        </tr>
        <tr class="">
            <th scope="row" style="text-align:left;">Fuqaroligi</th>
            <td class="" style="">
                <a href="/wiki/O%CA%BBzSSR" class="mw-redirect" title="OʻzSSR">OʻzSSR</a><br><span style="white-space: nowrap;"><a href="/wiki/Fayl:Flag_of_Uzbekistan.svg" class="image" title="Oʻzbekiston bayrogʻi"><img alt="Oʻzbekiston bayrogʻi" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/84/Flag_of_Uzbekistan.svg/25px-Flag_of_Uzbekistan.svg.png" decoding="async" width="25" height="13" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/84/Flag_of_Uzbekistan.svg/38px-Flag_of_Uzbekistan.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/84/Flag_of_Uzbekistan.svg/50px-Flag_of_Uzbekistan.svg.png 2x" data-file-width="1000" data-file-height="500"></a> <a href="/wiki/O%CA%BBzbekiston" title="Oʻzbekiston">Oʻzbekiston</a></span>
            </td>
        </tr>
        <tr class="">
            <th scope="row" style="text-align:left;">Otasi</th>
            <td class="" style="">
                Muhammad Yusuf ibn Muhammad Ali
            </td>
        </tr>
        <tr class="">
            <th scope="row" style="text-align:left;">Kasbi</th>
            <td class="" style="">
                qori, tarjimon
            </td>
        </tr>
        <tr class="">
            <th scope="row" style="text-align:left;">Dini</th>
            <td class="" style="">
                <a href="/wiki/Islom" title="Islom">Islom</a>
            </td>
        </tr>
        <tr class="">
            <th scope="row" style="text-align:left;">Mukofotlari</th>
            <td class="" style="">
                <a href="/wiki/Xalqlar_do%CA%BBstligi_ordeni" title="Xalqlar doʻstligi ordeni"><img alt="Xalqlar doʻstligi ordeni" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/27/Order_friendship_of_peoples_rib.png/40px-Order_friendship_of_peoples_rib.png" decoding="async" width="40" height="17" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/27/Order_friendship_of_peoples_rib.png/60px-Order_friendship_of_peoples_rib.png 1.5x, //upload.wikimedia.org/wikipedia/commons/2/27/Order_friendship_of_peoples_rib.png 2x" data-file-width="72" data-file-height="30"></a>
            </td>
        </tr>
    </tbody>
</table>