<h1>Oʻzbekiston Sovet Sotsialistik Respublikasi</h1>
<div class="Div">
   
<p>
    Oʻzbekiston Sovet Sotsialistik Respublikasi, Oʻzbekiston SSR, OʻzSSR (ruscha: Узбекская Советская Социалистическая Республика) — Sovet Ittifoqi tarkibiga kirgan respublikalarning biri. Turkiston Avtonom Sovet Sotsialistik Respublikasi, Buxoro Xalq Sovet Respublikasi hamda Xorazm Xalq Sovet Respublikasi hududlarining, asosan, oʻzbeklar va qoraqalpoqlar yashaydigan qismlarida vujudga kelgan. 1924-yildan 1936-yilgacha Oʻzbekiston Sotsialistik Sovet Respublikasi (ruscha: Узбекская Советская Социалистическая Республика) deb atalgan. Ayrim manbalarda Sovet Oʻzbekistoni deb yuritiladi.

    Poytaxti 1925-yil fevraldan to may oyigacha Buxoro, 1925-yil maydan to 1930-yil dekabrgacha Samarqand, 1930-yil oxiridan Toshkent. Tarkibiga Qoraqalpogʻiston ASSR kirgan. Respublika 11 oblastga boʻlingan, 156 rayon, 123 shahar, 98 shahar tipidagi posyolkasi boʻlgan.[1]

    Oʻzbekiston SSRning maydoni 447 400 km² boʻlgan. Aholisi 1926-yilda 5 milliondan ortiq boʻlgan, 1989-yilga kelib 20 millionga yetgan. 1989-yilda Oʻzbekiston SSRda oʻzbeklar (14 milliondan oshiq), qoraqalpoqlar (411 900), tojiklar (933 600), qozoqlar (808 200), qirgʻizlar (174 900), turkmanlar (121 600) yashagan.

    Oʻzbekiston SSR hududi shimol va shimoli-gʻarbda Qozogʻiston SSR, janubi-gʻarbda Turkmaniston SSR, janubi-sharqda Tojikiston SSR, shimoli-sharqda Qirgʻiziston SSR, janubida Afgʻoniston bilan chegaradosh boʻlgan.

    Oʻzbekiston SSRda boshqa sovet respublikalaridagi kabi bir necha ommaviy qatagʻon amalga oshirilgan. Biroq bunday holatlarga qaramasdan, mamlakatda yuzlab sanoat korxonalari qurilgan, yangi shahar va posyolkalarga asos solingan. Savodsizlikni tugatish ishlari olib borilgan, pedagogik va ilmiy kadrlar tayyorlash maqsadida yangi maktablar, texnikumlar va institutlar ochilgan. Mirzachoʻl va boshqa choʻllarning oʻzlashtirilishi natijasida ekin maydonlari kengaygan.

    Oʻzbekiston SSR 1990-yilning 20-iyunida suverenitet eʼlon qildi. Ammo 1991-yilning 31-avgustida mustaqillik eʼlon qilinib, Oʻzbekiston Respublikasi deb qayta nomlangunicha Sovet Ittifoqi tarkibida qoldi. Oʻzbekiston mustaqilligi 1991-yilning 26-dekabrida Sovet Ittifoqi parchalanib ketganidan keyin tan olindi.


   Tarixi
        Tashkil topishi
        Oʻrta Osiyoda milliy-hududiy chegaralanish oʻtkazilishi natijasida Turkiston Avtonom Sovet Sotsialistik Respublikasi tugatilib, uning hududi yangi tuzilgan Oʻzbekiston SSR, Turkmaniston SSR,Tojikiston ASSR (Oʻzbekiston SSR tarkibida, 1929-yildan Tojikiston SSR), shuningdek, Qoraqirgʻiz avtonom viloyati (Rossiya SFSR tarkibida; Qirgʻiziston SSR), Qoraqalpoq avtonom viloyati (Qozogʻiston ASSR tarkibida; keyinchalik Qoraqalpogʻiston ASSR, 1936-yildan Oʻzbekiston SSR tarkibida) tarkibiga kiritildi.

        Umumoʻzbek sovetlarining Buxoroda boʻlgan birinchi qurultoyi (1925-yil 13–17-fevral)da „Oʻzbekiston Sovet Sotsialistik Respublikasini tashkil etish toʻgʻrisida deklaratsiya“ qabul qilindi. Qurultoyda respublikaning oliy organlari: Oʻzbekiston SSR Markaziy Ijroiya Qoʻmitasi (Oʻzbekiston SSR MIK) va Oʻzbekiston SSR Xalq Komissarlari Soveti (Oʻzbekiston SSR XKS tuzilgan).

        Oʻzbekiston SSR Butunittifoq sovetlarining 3-sʼyezdida (1925-yil 13-may)da SSRI tarkibiga kiritilgan. 1927-, 1937-, 1978-yillarda Oʻzbekiston SSR konstitutsiyalari qabul qilingan.

        1920-yillar
        Respublikadagi dehqonlarni gʻoyaviy jihatdan birlashtirib turgan tashkilotlardan biri „Qoʻshchi“ ittifoqi boʻlgan (1920–33-yillarda faoliyat koʻrsatgan). 1924-yilda 200 ming kishini oʻziga birlashtirgan bu ittifoq ham asta-sekin bolsheviklarning qishloqdagi mustabid siyosati targʻibotchisiga aylangan. Qishloq kambagʻallarining eng qashshoq qismini oʻzida birlashtirgan bu tashkilot kollektivlashtirish (jamoalashtirish) va „quloqlashtirish“ davrida salbiy rol oʻynadi.


        Xalqaro xotin-qizlar kunida paranjilarni yoqib yuborish marosimi. Andijon, 1927-yil.
        Oʻzbekiston SSRda bolsheviklar tomonidan amalga oshirilgan „sotsialistik tajriba“ mahalliy xalq tomonidan norozilik bilan qarshi olindi. Sovet hokimiyatining dastlabki 10 yilliklarida milliy rahbar xodimlar va ziyolilar tomonidan markazning zoʻravonligiga qarshi ochiq tanqidiy fikrlar aytilgan. Muxolifat ayrim davlat va jamoat arboblari, yozuvchilar, shoirlar, maorif xodimlari va huquqshunoslarni oʻzaro birlashtirgan edi.

        1925–29-yillarda Oʻzbekistonda yer-suv islohoti amalga oshirildi. Bu islohot joylarda shart-sharoitlar va tayyorgarlik darajasiga qarab uch bosqichda oʻtkazildi. Keyinchalik qishloq xoʻjaligini kollektivlashtirish amalga oshirilib, kolxoz va sovxozlar tuzildi. Biroq shoʻrolar hokimiyati oʻziga toʻq dehqon xoʻjaliklarini „quloq“ („mushtumzoʻr“) sifatida tugatish siyosatini olib borgan.

        1930-yillar
        Sovet rejimi dastavval mavjud tuzumga muxolifatda turganlarga qarshi repressiya siyosatini amalga oshirgan boʻlsa, 30-yillardan boshlab oʻz xalqiga nisbatan ommaviy terrorni qoʻlladi. XX asr 20-yillarining ikkinchi yarmi va 30-yillar boshida Oʻzbekiston SSRda „Oʻn sakkizlar guruhi“, „inogʻomovchilik“, „qosimovchilik“, „badriddinovchilik“, „milliy ittihodchilar“, „narkompros ishi“ kabi siyosiy ishlar toʻqilishi va Munavvarqori boshchiligidagi milliy ziyolilarning qamoqqa olinishi natijasida koʻplab oʻzbek ziyolilari qatagʻon qilindi. 1931-yil aprelda Moskvada boʻlib oʻtgan sud majlisidan keyin Munavvarqori boshchiligidagi 15 kishi otib tashlandi, qolgan 70 kishi esa uzoq muddatli qamoq jazosiga hukm qilindi.


        Lotin alifbosida yozilgan oʻzbekcha plakat: „Kolxozlarda mehnat intizomini mustahkamla!“ Toshkent, 1933-yil.
        30-yillar oʻrtasiga kelganda butun mamlakatda boʻlgani singari Oʻzbekiston SSRda ham ommaviy qatagʻonlar avj oldi. Respublikadagi aksariyat siyosiy rahbarlar 1937–38-yillarda „millatchilik va sovet hokimiyatiga qarshi kurash olib borish“da, shuningdek, qurolli qoʻzgʻolon koʻtarishni tayyorlashda ayblandi. Fayzulla Xoʻjayev, Akmal Ikromov, Sulton Segizboyev kabi siyosiy rahbarlar qatl etildi.

        Oʻzbekiston SSR jamiyatning barcha tabaqalariga yoyilgan hibsga olish toʻlqini ostida qoldi. Davlat va jamiyat arboblari, xoʻjalik rahbarlari va oddiy kishilar bilan bir qatorda milliy ziyolilar ommaviy ravishda qatagʻon qilindi. XX asr oʻzbek adabiyotining arboblari; Fitrat, Choʻlpon va Abdulla Qodiriy va boshqalar otib tashlandi.

        1937–39-yillarda toʻqib chiqarilgan soxta ayblovlar boʻyicha Oʻzbekistonda 41 mingdan ortiq kishi hibsga olinib, ulardan 37 mingdan ortigʻi jazolandi, 6 920 kishi esa otib oʻldirishga hukm qilindi. Umuman olganda, 1937–53-yillarda Oʻzbekiston SSR Ichki ishlar xalq komissarligi (NKVD) troykasi (uchligi) tomonidan 100 mingdan ortiq kishi qatagʻon qilindi, ulardan 15 ming nafari otib tashlandi. 1936–40-yillarda faqat davlat va jamoat arboblari, yozuvchilar, shoirlar va olimlardan 5 758 kishi qamoqqa olinib, ulardan 4 811 kishi otib oʻldirishga hukm qilingan edi.

        1940-yillar
        Ikkinchi jahon urushi yillari
        Ikkinchi jahon urushi yillarida Oʻzbekiston SSRdan 1,5 million kishi frontga ketgan, ulardan 450 mingdan ortiq kishi jang maydonlarida halok boʻlgan. Fashistlar bosib olgan hududlardan Oʻzbekistonga 1 milliondan ortiq kishi, jumladan, 200 ming bola evakuatsiya qilindi.

        1943–44-yillarda qalmoqlar, qrim tatarlari, chechenlar, ingushlar, olmonlar, qorachoylar, yunonlar, mesxetin turklari, bolqorlar oʻz tarixiy vatani yoki doimiy yashash joylaridan mamlakatning sharqiy hududlariga koʻchirib yuborildi. Qrimdan 151 604 qrim tatarlari, Gurjistondan 110 ming mesxetin turklari, Shimoliy Kavkazdan 175 ming chechen, 20 mingdan ortiq ingush, 4 500 bolqor, arman va yunonlar Oʻzbekiston SSRga koʻchirildi. Koʻchirib keltirilganlar orasida boshqa xalqlarning vakillari ham oz emas edi. Maxsus koʻchirib keltirilganlarning koʻpchiligi kolxoz va sovxozlarga ishga joylashdilar, keyinchalik Mirzachoʻlni oʻzlashtirishda ishtirok etdilar.

        Urush yillarida Oʻzbekiston SSR qishloq xoʻjaligi ahli eng murakkab va ogʻir sharoitlarda mehnat qilib, davlatga 4 148 000 tonna paxta, 82 million pud gʻalla, 54 067 tonna pilla, 195 ming tonna sholi, 57 444 tonna hoʻl meva, 36 ming tonna quruq meva, 159 300 tonna goʻsht, 22 300 tonna jun va boshqa mahsulotlarni yetkazib berdilar. Urushda vayron boʻlgan xalq xoʻjaligini tiklashga yordam berish uchun koʻplab oʻzbekistonliklar Rossiya SFSR, Ukraina SSR, Belorussiya SSR va boshqa respublikalarga joʻnatildi.

        1940-yillarning ikkinchi yarmi
        Urush tugagach, oradan koʻp oʻtmay Oʻzbekiston SSR boʻylab yana bir yalpi qirgʻin toʻlqini yelib oʻtdi. XX asrning 40-yillari oxiri va 50-yillari boshidagi qatagʻonlar, asosan, madaniyat va fan arboblariga qarshi qaratildi. Oʻzbekiston Kompartiyasi MK markazning yoʻl-yoʻriqlariga tayangan holda dunyoqarashi va ijodi partiya mafkurasidan farq qiladigan ijodiy ziyolilar vakillariga qarshi hujum boshladi. Yozuvchi va shoirlardan Said Ahmad, Shukrullo, Mirzakalon Ismoiliy, Shuhrat, Maqsud Shayxzoda, Mirkarim Osim, Hamid Sulaymonov, shuningdek, Muhiddin Qoriyoqubov 1951-yilda „sovetlarga qarshi millatchilik faoliyati“ olib borganlikda ayblanib qamoqqa olindilar va 25 yil ozodlikdan mahrum etildilar. Oʻzbek xalqining faxri hisoblangan Oybek badnom qilindi.

        1950–1970-yillar
        20-asrning 50–80-yillarida Oʻzbekiston SSRda turli sanoat korxonalari qurilgan, yangi shahar va posyolkalarga asos solingan. Mirzachoʻl va boshqa choʻllarning oʻzlashtirilishi natijasida ekin maydonlari kengaygan. Xalqning turmush darajasi muayyan darajada yaxshilangan. Ayniqsa, Oʻzbekiston iqtisodiyoti markaz manfaatlariga boʻysundirilgan. SSRIning agrar respublikalaridan biriga aylangan Oʻzbekiston SSRda paxta yakkahokimligi oʻrnatilgan. XX asrning 60-yillarida Orol dengizining qurishi boshlandi va u mintaqadagi ekologik muhitga jiddiy zarar yetkazdi.

        1980-yillar
        XX asrning 80-yillari boshlariga kelganda sovet rejimi, uning siyosiy tizimi va xoʻjalik yuritish usullari oʻzining rivojlanish imkoniyatlarini tugata boshlagan. Oʻzbekiston SSR iqtisodiyoti ham, katta xom ashyo va tabiiy boyliklar zaxirasiga ega boʻlishiga qaramasdan, SSRIning markaziy hududlaridan juda tez ortda qola boshlagan.

        Oʻzbekiston SSRning ijtimoiy-siyosiy hayotida 1984-yil 23-iyunda boʻlgan Oʻzbekiston Kompartiyasi MK 16-plenumi mashʼum rol oʻynagan. Moskva tashabbusi va koʻrsatmasi bilan tashkil qilingan bu plenumda qabul qilingan hujjatlar Oʻzbekiston SSRda oʻzbek xalqini asossiz badnom etish kompaniyasini boshlab berdi.


        Oʻzbekiston kompartiyasi 60 yilligiga bagʻishlangan pochta markasi
        SSRI Bosh prokurori huzurida alohida muhim ishlar boʻyicha maxsus 12 kishilik tergovchilar guruhi tuzilib, 1983-yildayoq Oʻzbekiston SSRga yuborilgan edi. Ular keyinchalik markazdan respublikaga kelgan „desantchilar“ga tayanib, Oʻzbekistonda navbatdagi qatagʻonni amalga oshirdi.

        Oʻzbekiston SSRda paxta tayyorlash va uni qayta ishlash bilan bogʻliq jarayonlardagi „qoʻshib yozish“, „oʻgʻrilik“, „koʻzboʻyamachilik“, „poraxoʻrlik“ va hokazolarni tergov qiluvchi Gdlyan va Ivanov guruhining talabi bilan respublikadagi jamoa xoʻjaliklari raislari va sovxoz direktorlarining 60 foizi, qishloq xoʻjaligi yetakchi mutaxassislarining 45 foizi, paxtachilik brigada boshliqlarining 35 foizi, shuningdek, koʻplab rahbarlar, viloyatlar va tumanlar partiya qoʻmitasi kotiblari, respublika miqyosidagi partiya, sovet va xoʻjalik rahbarlari oʻz vazifalaridan olib tashlandi va ularga nisbatan jinoiy ish qoʻzgʻatildi.

        1983–90-yillarda Oʻzbekiston SSRda „paxta ishi“ boʻyicha jami 40 ming kishi tergov qilindi, 5 ming kishi esa soxta ayblar bilan jinoiy javobgarlikka tortildi. Tergov jarayonida inson huquqlari toptalib, tutqunlarga jismoniy va ruhiy tazyiq oʻtkazildi. Ularning oila aʼzolari va qarindosh-urugʻlari ham qamoqqa tashlandi.

        Mustaqillikka erishishi
        Oʻzbekiston SSRda qilingan qatagʻon va yovuzliklar xalq ommasini sovet rejimiga nisbatan nafratini oshirdi, tuzumga boʻlgan munosabatini keskin oʻzgartirdi. Ana shunday murakkab bir vaziyatda respublikada mustaqillik uchun kurash kuchaydi. 1990-yil 20-iyunda Oʻzbekiston SSR Oliy Soveti „Mustaqillik deklaratsiyasi“ni qabul qildi. 1991-yil 31-avgustda „Oʻzbekiston Respublikasining davlat mustaqilligini eʼlon qilish toʻgʻrisida“ qonun qabul qilinib, Oʻzbekiston mustaqillikka erishdi.

        Maʼmuriy boʻlinishi
        Oʻzbekiston SSR maʼmuriy jihatdan 1925-yilda dastlab 8 ta viloyat (Samarqand, Toshkent, Fargʻona, Xoʻjand, Zarafshon, Surxondaryo, Qashqadaryo, Xorazm) va Tojikiston ASSR (1929-yilgacha Oʻzbekiston SSR tarkibida boʻlgan), 22 uyezd va 241 volostga boʻlingan. 1926-yilda maʼmuriy-iqtisodiy rayonlashtirish amalga oshirilgan.

        1987-yilda Oʻzbekiston SSR tarkibiga Qoraqalpogʻiston ASSR (1936-yildan u Oʻzbekiston SSR tarkibida boʻlgan), 12 ta oblast (Andijon, Buxoro, Jizzax, Navoiy, Namangan, Samarqand, Sirdaryo, Surxondaryo, Toshkent, Fargʻona, Xorazm, Qashqadaryo), 155 rayon, 123 shahar, 95 ta posyolka hamda Toshkent shahri kirgan.

        Oʻzbekiston SSR poytaxti 1925-yil fevraldan to may oyigacha Buxoro shahri boʻlgan. 1925-yil maydan to 1930-yil dekabrgacha Samarqand shahri poytaxt boʻlgan. 1930-yil oxiridan poytaxt Toshkentga koʻchgan.
    </p>
    
    <table class="infobox geography vcard vevent" style="width:290px;">

        <tbody>
            <tr class="mergedtoprow">
                <td colspan="3" class="fn org summary" style="text-align:center; line-height:1.2em; font-size:135%; font-weight:bold;">
                    Oʻzbekiston Sovet Sotsialistik Respublikasi<sup>a</sup>
                </td>
            </tr>
            <tr class="mergedbottomrow">
                <td colspan="3" class="fn org summary" style="text-align:center; line-height:1.2em; font-size:115%; font-weight:bold;">
                    <span lang="ru">Узбекская Советская Социалистическая Республика</span> <br> <span lang="uz">Ўзбекистон Совет Социалистик Республикаси</span>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="vertical-align:middle; text-align:center; font-size:115%;">
                    <p href="/wiki/Turkiston_Avtonom_Sovet_Sotsialistik_Respublikasi" title="Turkiston Avtonom Sovet Sotsialistik Respublikasi">Turkiston ASSR</p> tarkibida (1918–24) <br> <p href="/wiki/Sovet_Ittifoqi_respublikalari" class="mw-redirect" title="Sovet Ittifoqi respublikalari">Sovet Ittifoqi respublikasi</p> (1924–91) <br> <i><p href="/wiki/De_facto" title="De facto">De facto</p></i> <p href="/w/index.php?title=Suveren_davlat&amp;action=edit&amp;redlink=1" class="new" title="Suveren davlat (sahifa yaratilmagan)">suveren davlat</p> (1990–91)
                </td>
            </tr>
            <tr>
                <td colspan="3" style="vertical-align:middle; text-align:center; border-top:solid 1px #aaa; padding:0.2em 0em 0.2em 0em;">
                    <table style="width:100%; text-align:center; margin:0 auto; background:transparent;">

                        <tbody>
                            <tr>
                                <td style="width:50px; border:0; vertical-align:middle; font-size:30%; line-height:105%;">
                                </td>
                                <td style="vertical-align:middle; text-align:center; font-size:115%; border:0;">
                                    <b>1924–1991</b>
                                </td>
                                <td style="width:50px; border:0; vertical-align:middle; text-align:right; line-height:105%; font-size:30%;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="vertical-align:middle; text-align:center; border-top:solid 1px #aaa; padding:0.2em 0em 0.2em 0em;">
                    <div style="display:table; width:100%;">
                        <div style="display:table-cell; width:58%; vertical-align:middle; padding-left:5px;">
                            <div style="padding-bottom:3px;"><p href="/wiki/Fayl:Flag_of_the_Uzbek_Soviet_Socialist_Republic_(1952%E2%80%931991).svg" class="image" title="Flag"><img alt="Flag" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Flag_of_the_Uzbek_Soviet_Socialist_Republic_%281952%E2%80%931991%29.svg/125px-Flag_of_the_Uzbek_Soviet_Socialist_Republic_%281952%E2%80%931991%29.svg.png" decoding="async" width="125" height="63" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Flag_of_the_Uzbek_Soviet_Socialist_Republic_%281952%E2%80%931991%29.svg/188px-Flag_of_the_Uzbek_Soviet_Socialist_Republic_%281952%E2%80%931991%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Flag_of_the_Uzbek_Soviet_Socialist_Republic_%281952%E2%80%931991%29.svg/250px-Flag_of_the_Uzbek_Soviet_Socialist_Republic_%281952%E2%80%931991%29.svg.png 2x" data-file-width="1200" data-file-height="600"></p></div>
                            <div style="font-size:90%;"><p href="/wiki/O%CA%BBzbekiston_SSR_bayrog%CA%BBi" title="Oʻzbekiston SSR bayrogʻi">Bayroq</p> <small style="font-size:85%;">(1952–91)</small></div>
                        </div>
                        <div style="display:table-cell; vertical-align:middle; padding: 0px 5px;">
                            <div style="padding-bottom:3px;"><p href="/wiki/Fayl:Emblem_of_the_Uzbek_SSR.svg" class="image" title="Gerb (1981–92)"><img alt="Gerb (1981–92)" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/94/Emblem_of_the_Uzbek_SSR.svg/85px-Emblem_of_the_Uzbek_SSR.svg.png" decoding="async" width="85" height="94" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/94/Emblem_of_the_Uzbek_SSR.svg/128px-Emblem_of_the_Uzbek_SSR.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/94/Emblem_of_the_Uzbek_SSR.svg/170px-Emblem_of_the_Uzbek_SSR.svg.png 2x" data-file-width="836" data-file-height="926"></p></div>
                            <div style="font-size:90%;"><p href="/w/index.php?title=O%CA%BBzbekiston_SSR_gerbi&amp;action=edit&amp;redlink=1" class="new" title="Oʻzbekiston SSR gerbi (sahifa yaratilmagan)">Gerb</p> <small style="font-size:85%;">(1981–92)</small></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="vertical-align:top; text-align:center; font-size:95%;">
                    <b>Shior</b><br><p href="/w/index.php?title=Butun_dunyo_proletarlari,_birlashingiz!&amp;action=edit&amp;redlink=1" class="new" title="Butun dunyo proletarlari, birlashingiz! (sahifa yaratilmagan)">Butun dunyo proletarlari, birlashingiz!</p>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="vertical-align:top; text-align:center; font-size:95%;">
                    <b>Madhiya</b><br><p href="/wiki/O%CA%BBzbekiston_SSR_madhiyasi" title="Oʻzbekiston SSR madhiyasi">Oʻzbekiston Sovet Sotsialistik Respublikasining davlat madhiyasi</p><br><br><center><span class="mw-tmh-player audio" style="width:220px;"><audio id="mwe_player_0_placeholder" preload="none" width="220" style="width:220px;" data-durationhint="261" data-mwtitle="O'zbekiston_Sovet_Davlat_Madhiyasi_(vocal).ogg" data-mwprovider="wikimediacommons" disabled="disabled" tabindex="-1"></audio><p class="mw-tmh-play" href="/wiki/Fayl:O%27zbekiston_Sovet_Davlat_Madhiyasi_(vocal).ogg" title="Play media" role="button"><span class="mw-tmh-play-icon"></span></p><span class="mw-tmh-duration mw-tmh-label" aria-label="4 minutes and 21 seconds">4:21</span></span></center>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:center; font-size:95%; padding:0.6em 0em 0.6em 0em;">
                    <div class="center"><div class="floatnone"><p href="/wiki/Fayl:Soviet_Union_-_Uzbek_SSR.svg" class="image" title="Location of Oʻzbekiston SSR"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/67/Soviet_Union_-_Uzbek_SSR.svg/250px-Soviet_Union_-_Uzbek_SSR.svg.png" decoding="async" width="250" height="159" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/67/Soviet_Union_-_Uzbek_SSR.svg/375px-Soviet_Union_-_Uzbek_SSR.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/67/Soviet_Union_-_Uzbek_SSR.svg/500px-Soviet_Union_-_Uzbek_SSR.svg.png 2x" data-file-width="592" data-file-height="376"></p></div></div><div style="padding:0.5em 0.5em 0;line-height:1.25em;">Oʻzbekiston SSRning (qizil) <p href="/wiki/Sovet_Ittifoqi" class="mw-redirect" title="Sovet Ittifoqi">Sovet Ittifoqida</p> joylashuvi</div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <b>Poytaxti</b>
                </td>
                <td style="width:50%;">
                    <p href="/wiki/Buxoro" title="Buxoro">Buxoro</p> <small>(1925)</small> <br> <p href="/wiki/Samarqand" title="Samarqand">Samarqand</p> <small>(1925–1930)</small> <br> <p href="/wiki/Toshkent" title="Toshkent">Toshkent</p> <small>(1930–1991)</small>
                </td>
            </tr>


            <tr>
                <td colspan="2">
                    <b>Til(lar)i</b>
                </td>
                <td>
                    <b>Rasmiy tillar:</b> <br> <p href="/wiki/O%CA%BBzbek_tili" title="Oʻzbek tili">Oʻzbek</p><span style="white-space:nowrap; font-weight:bold;">
                        &nbsp;<p href="/wiki/Rus_tili" title="Rus tili">·Rus</p> <br> <b>Ozchiliklar tillari:</b> <br> <p href="/wiki/Tojik_tili" title="Tojik tili">Tojik</p><span style="white-space:nowrap; font-weight:bold;">
                            &nbsp;<p href="/wiki/Qoraqalpoq_tili" title="Qoraqalpoq tili">·Qoraqalpoq</p><span style="white-space:nowrap; font-weight:bold;">
                                &nbsp;<p href="/wiki/Qozoq_tili" title="Qozoq tili">·Qozoq</p>
                            </span>
                        </span>
                    </span>
                </td>
            </tr>


            <tr>
                <td colspan="2">
                    <b><p href="/wiki/Etnoxoronim" title="Etnoxoronim">Etnoxoronimi</p></b>
                </td>
                <td>
                    <p href="/wiki/O%CA%BBzbeklar" title="Oʻzbeklar">Oʻzbek</p> <br> <p href="/w/index.php?title=Sovet_xalqlari&amp;action=edit&amp;redlink=1" class="new" title="Sovet xalqlari (sahifa yaratilmagan)">Sovet</p>
                </td>
            </tr>
            <tr class="mergedtoprow">
                <td colspan="2">
                    <b>Hukumati</b>
                </td>
                <td>
                    <p href="/wiki/Unitar_davlat" title="Unitar davlat">Unitar</p> <p href="/w/index.php?title=Marksizm-Leninizm&amp;action=edit&amp;redlink=1" class="new" title="Marksizm-Leninizm (sahifa yaratilmagan)">Marksist-Leninist</p> <p href="/w/index.php?title=Bir_partiyali_davlat&amp;action=edit&amp;redlink=1" class="new" title="Bir partiyali davlat (sahifa yaratilmagan)">bir partiyali</p> <p href="/w/index.php?title=Sovet_respublikasi&amp;action=edit&amp;redlink=1" class="new" title="Sovet respublikasi (sahifa yaratilmagan)">sovet</p> <p href="/wiki/Sotsialistik_davlatlar" title="Sotsialistik davlatlar">sotsialistik respublika</p> (1924–1927; 1953–1990)<br><p href="/w/index.php?title=Stalinizm&amp;action=edit&amp;redlink=1" class="new" title="Stalinizm (sahifa yaratilmagan)">Stalinist</p> <p href="/w/index.php?title=Bir_partiyali_tizim&amp;action=edit&amp;redlink=1" class="new" title="Bir partiyali tizim (sahifa yaratilmagan)">bir partiyali</p> <p href="/wiki/Totalitarizm" title="Totalitarizm">totalitar</p> <p href="/wiki/Diktatura" title="Diktatura">diktatura</p> (1927–1953)<br><p href="/wiki/Unitar_davlat" title="Unitar davlat">Unitar</p> <p href="/w/index.php?title=Prezidentlik_tizimi&amp;action=edit&amp;redlink=1" class="new" title="Prezidentlik tizimi (sahifa yaratilmagan)">prezidentlik</p> <p href="/wiki/Respublika" title="Respublika">respublika</p> (1990–1991)
                </td>
            </tr>
            <tr class="mergedrow">
                <td colspan="2"><b><p href="/wiki/O%CA%BBzbekiston_yetakchilari_ro%CA%BByxati" title="Oʻzbekiston yetakchilari roʻyxati">Birinchi kotib</p></b></td>
                <td>
                </td>
            </tr>
            <tr class="mergedrow">
                <td style="width:1.0em; padding:0 0 0 0.6em;">
                    &nbsp;•&nbsp;
                </td>
                <td style="padding-left:0;text-align:left;">
                    1925–1927 <small>(ilk)</small>
                </td>
                <td>
                    <p href="/wiki/Vladimir_Ivanov" title="Vladimir Ivanov">Vladimir Ivanov</p>
                </td>
            </tr>
            <tr class="mergedrow">
                <td style="width:1.0em; padding:0 0 0 0.6em;">&nbsp;•&nbsp;</td>
                <td style="padding-left:0;text-align:left;">
                    1989–1991 <small>(soʻnggi)</small>
                </td>
                <td>
                    <p href="/wiki/Islom_Karimov" title="Islom Karimov">Islom Karimov</p>
                </td>
            </tr>














            <tr class="mergedrow">
                <td colspan="2">
                    <b><p href="/wiki/O%CA%BBzbekiston_bosh_vaziri" title="Oʻzbekiston bosh vaziri">Hukumat boshchisi</p></b>
                </td>
                <td>
                </td>
            </tr>
            <tr class="mergedrow">
                <td style="width:1.0em; padding:0 0 0 0.6em;">&nbsp;•&nbsp;</td>
                <td style="padding-left:0;text-align:left;">1924–1937 <small>(ilk)</small></td>
                <td>
                    <p href="/wiki/Fayzulla_Xo%CA%BBjayev" title="Fayzulla Xoʻjayev">Fayzulla Xoʻjayev</p>
                </td>
            </tr>
            <tr class="mergedbottomrow">
                <td style="width:1.0em; padding:0 0 0 0.6em;">&nbsp;•&nbsp;</td>
                <td style="padding-left:0;text-align:left;">
                    1990–1990 <small>(soʻnggi)</small>
                </td>
                <td>
                    <p href="/wiki/Shukrullo_Mirsaidov" title="Shukrullo Mirsaidov">Shukrullo Mirsaidov</p>
                </td>
            </tr>




















            <tr class="mergedtoprow">
                <td colspan="2">
                    <b>Tarixi</b>
                </td>
                <td>
                    <p href="/wiki/XX_asr" title="XX asr">XX asr</p>
                </td>
            </tr>
            <tr class="mergedrow">
                <td style="width:1.0em; padding:0 0 0 0.6em;">&nbsp;•&nbsp;</td>
                <td style="padding-left:0em;text-align:left;">
                    <p href="/wiki/Turkiston_Avtonom_Sovet_Sotsialistik_Respublikasi" title="Turkiston Avtonom Sovet Sotsialistik Respublikasi">Turkiston ASSR</p>, <p href="/wiki/Buxoro_Xalq_Sovet_Respublikasi" title="Buxoro Xalq Sovet Respublikasi">Buxoro XSR</p> va <p href="/wiki/Xorazm_Xalq_Sovet_Respublikasi" title="Xorazm Xalq Sovet Respublikasi">Xorazm XSR</p> oʻrnida Oʻzbekiston tuzilgan
                </td>
                <td style="vertical-align: bottom;">
                    27-oktabr 1924-yil
                </td>
            </tr>
            <tr class="mergedrow">
                <td style="width:1.0em; padding:0 0 0 0.6em;">&nbsp;•&nbsp;</td>
                <td style="padding-left:0em;text-align:left;">
                    Respublika eʼlon qilingan
                </td>
                <td style="vertical-align: bottom;">
                    5-dekabr 1924-yil
                </td>
            </tr>
            <tr class="mergedrow">
                <td style="width:1.0em; padding:0 0 0 0.6em;">&nbsp;•&nbsp;</td>
                <td style="padding-left:0em;text-align:left;">
                    <p href="/w/index.php?title=Qoraqalpog%CA%BBiston_Avtonom_Sovet_Sotsialistik_Respublikasi&amp;action=edit&amp;redlink=1" class="new" title="Qoraqalpogʻiston Avtonom Sovet Sotsialistik Respublikasi (sahifa yaratilmagan)">Qoraqalpogʻiston ASSR</p> qoʻshib olingan
                </td>
                <td style="vertical-align: bottom;">
                    5-dekabr 1936-yil
                </td>
            </tr>
            <tr class="mergedrow">
                <td style="width:1.0em; padding:0 0 0 0.6em;">&nbsp;•&nbsp;</td>
                <td style="padding-left:0em;text-align:left;">
                    Suverenitet eʼlon qilingan
                </td>
                <td style="vertical-align: bottom;">
                    20-iyun 1990-yil
                </td>
            </tr>
            <tr class="mergedrow">
                <td style="width:1.0em; padding:0 0 0 0.6em;">&nbsp;•&nbsp;</td>
                <td style="padding-left:0em;text-align:left;">
                    Mustaqillik eʼlon qilingan, <p href="/wiki/O%CA%BBzbekiston_Respublikasi" class="mw-redirect" title="Oʻzbekiston Respublikasi">Oʻzbekiston Respublikasi</p> deb qayta nomlangan
                </td>
                <td style="vertical-align: bottom;">
                    31-avgust 1991-yil
                </td>
            </tr>






            <tr class="mergedbottomrow">
                <td style="width:1.0em; padding:0 0 0 0.6em;">&nbsp;•&nbsp;</td>
                <td style="padding-left:0em;text-align:left;">
                    Mustaqillik tan olingan
                </td>
                <td style="vertical-align: bottom;">
                    26-dekabr 1991-yil
                </td>
            </tr>


            <tr>
                <td colspan="3">
                    <b>Maydoni</b>
                </td>
            </tr>
            <tr class="mergedbottomrow">
                <td style="width:1.0em; padding:0 0 0 0.6em;">&nbsp;•&nbsp;</td>
                <td style="padding-left:0;text-align:left;">
                    1989-yil
                </td>
                <td>
                    447400 km²
                </td>
            </tr>







            <tr class="mergedtoprow">
                <td colspan="3">
                    <b><p href="/wiki/Aholi_bo%CA%BByicha_davlatlar_ro%CA%BByxati" title="Aholi boʻyicha davlatlar roʻyxati">Aholisi</p></b>
                </td>
            </tr>
            <tr class="mergedrow">
                <td style="width:1.0em; padding:0 0 0 0.6em;">
                    &nbsp;•&nbsp;
                </td>
                <td style="padding-left:0;text-align:left;">
                    1989-yil (tax.)
                </td>
                <td>
                    19&nbsp;906&nbsp;000&nbsp;
                </td>
            </tr>
            <tr class="mergedbottomrow">
                <td colspan="2">
                    <span style="white-space:nowrap;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Zichlik
                </td>
                <td style="white-space:nowrap;">
                    44.492624050067 km²
                </td>
            </tr>








            <tr>
                <td colspan="2">
                    <b>Pul birligi</b>
                </td>
                <td>
                    Sovet rubli (SUR)
                </td>
            </tr>


            <tr>
                <td colspan="2">
                    <b><p href="/w/index.php?title=Telefon_kodlari_bo%CA%BByicha_davlatlar_ro%CA%BByxati&amp;action=edit&amp;redlink=1" class="new" title="Telefon kodlari boʻyicha davlatlar roʻyxati (sahifa yaratilmagan)">Telefon kodi</p></b>
                </td>
                <td>
                    +7 36/37/436
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <table style="width:95%; background: transparent; text-align:center; margin:0 auto;">

                        <tbody>
                            <tr>
                                <td style="text-align:center; border:0; padding-bottom:0"><div id="before-after"></div> <b>Oldingisi</b></td>
                                <td style="text-align:center;border:0; padding-bottom:0;">
                                    <b>Keyingisi</b>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top; text-align:center; border:0;">
                                    <table style="width:100%; background: transparent; text-align:center; margin:0 auto; border:0;">

                                        <tbody>
                                            <tr>
                                                <td style="border:0; padding:0; vertical-align:middle;">
                                                    <img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Flag_of_the_Bukharan_People%27s_Soviet_Republic.svg/20px-Flag_of_the_Bukharan_People%27s_Soviet_Republic.svg.png" decoding="async" width="20" height="10" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Flag_of_the_Bukharan_People%27s_Soviet_Republic.svg/30px-Flag_of_the_Bukharan_People%27s_Soviet_Republic.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Flag_of_the_Bukharan_People%27s_Soviet_Republic.svg/40px-Flag_of_the_Bukharan_People%27s_Soviet_Republic.svg.png 2x" data-file-width="600" data-file-height="300">
                                                </td>
                                                <td style="border:0; padding:0; vertical-align:middle; text-align:left;">
                                                    <p href="/wiki/Buxoro_Xalq_Sovet_Respublikasi" title="Buxoro Xalq Sovet Respublikasi">Buxoro Xalq Sovet Respublikasi</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border:0; padding:0; vertical-align:middle;">
                                                    <img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/80/Flag_of_Khiva_1920-1923.svg/20px-Flag_of_Khiva_1920-1923.svg.png" decoding="async" width="20" height="10" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/80/Flag_of_Khiva_1920-1923.svg/30px-Flag_of_Khiva_1920-1923.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/80/Flag_of_Khiva_1920-1923.svg/40px-Flag_of_Khiva_1920-1923.svg.png 2x" data-file-width="600" data-file-height="300">
                                                </td>
                                                <td style="border:0; padding:0; vertical-align:middle; text-align:left;">
                                                    <p href="/wiki/Xorazm_Xalq_Sovet_Respublikasi" title="Xorazm Xalq Sovet Respublikasi">Xorazm Xalq Sovet Respublikasi</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border:0; padding:0; vertical-align:middle;">
                                                    <img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/19/Turkestan_Autonomous_SSR_Flag.svg/20px-Turkestan_Autonomous_SSR_Flag.svg.png" decoding="async" width="20" height="10" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/19/Turkestan_Autonomous_SSR_Flag.svg/30px-Turkestan_Autonomous_SSR_Flag.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/19/Turkestan_Autonomous_SSR_Flag.svg/40px-Turkestan_Autonomous_SSR_Flag.svg.png 2x" data-file-width="300" data-file-height="150">
                                                </td>
                                                <td style="border:0; padding:0; vertical-align:middle; text-align:left;">
                                                    <p href="/wiki/Turkiston_Avtonom_Sovet_Sotsialistik_Respublikasi" title="Turkiston Avtonom Sovet Sotsialistik Respublikasi">Turkiston Avtonom Sovet Sotsialistik Respublikasi</p>
                                                </td>
                                            </tr>























                                        </tbody>
                                    </table>
                                </td>
                                <td style="vertical-align:top; text-align:center;border:0;">
                                    <table style="width:92%; background:transparent; text-align:center; margin:0 auto; border:0;">

                                        <tbody>
                                            <tr>
                                                <td style="border:0; padding:0; vertical-align:middle; text-align:right;">
                                                    <p href="/wiki/Tojikiston_SSR" class="mw-redirect" title="Tojikiston SSR">Tojikiston SSR</p>
                                                </td>
                                                <td style="border:0; padding:0; vertical-align:middle;">
                                                    <img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/12/Flag_of_the_Tajik_Autonomous_Soviet_Socialist_Republic_%281929%29.svg/20px-Flag_of_the_Tajik_Autonomous_Soviet_Socialist_Republic_%281929%29.svg.png" decoding="async" width="20" height="10" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/12/Flag_of_the_Tajik_Autonomous_Soviet_Socialist_Republic_%281929%29.svg/30px-Flag_of_the_Tajik_Autonomous_Soviet_Socialist_Republic_%281929%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/12/Flag_of_the_Tajik_Autonomous_Soviet_Socialist_Republic_%281929%29.svg/40px-Flag_of_the_Tajik_Autonomous_Soviet_Socialist_Republic_%281929%29.svg.png 2x" data-file-width="1052" data-file-height="526">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border:0; padding:0; vertical-align:middle; text-align:right;">
                                                    <p href="/wiki/O%CA%BBzbekiston" title="Oʻzbekiston">Oʻzbekiston</p>
                                                </td>
                                                <td style="border:0; padding:0; vertical-align:middle;">
                                                    <img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/84/Flag_of_Uzbekistan.svg/20px-Flag_of_Uzbekistan.svg.png" decoding="async" width="20" height="10" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/84/Flag_of_Uzbekistan.svg/30px-Flag_of_Uzbekistan.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/84/Flag_of_Uzbekistan.svg/40px-Flag_of_Uzbekistan.svg.png 2x" data-file-width="1000" data-file-height="500">
                                                </td>
                                            </tr>

























                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr style="font-size:85%;">
                <td style="width:1.0em; padding:0.4em 0 0 0.6em;">a.</td>
                <td colspan="2" style="padding-left:0;text-align:left;">
                    Tarixiy nomlari:
                    <ul>
                        <li>1924–1936: <b>Oʻzbekiston Sotsialistik Sovet Respublikasi</b> (<p href="/wiki/Rus_tili" title="Rus tili">ruscha</p>: <i><span lang="ru">Узбекская Социалистическая Советская Республика</span></i>)</li>
                        <li>1936–1991: <b>Oʻzbekiston Sovet Sotsialistik Respublikasi</b> (<p href="/wiki/Rus_tili" title="Rus tili">ruscha</p>: <i><span lang="ru">Узбекская Советская Социалистическая Республика</span></i>)</li>
                        <li>1991: <b>Oʻzbekiston Respublikasi</b> (<p href="/wiki/Rus_tili" title="Rus tili">ruscha</p>: <i><span lang="ru">Республика Узбекистан</span></i>)</li>
                    </ul>
                </td>
            </tr>






















        </tbody>
    </table>
    
    <div>
       </div>

</div>
<style>
    .Div{
        display:flex;

    }
    .P{
        font-size:30px;
    }
</style>