<table class="infobox vcard "  cellspacing="1" style="width:270px;">
    <tbody class="body">
        <tr><th colspan="2" class="" style="text-align:center; font-size:120%; font-weight:bold; font-size: 100%;">Muhammad Sodiq Muhammad Yusuf</th></tr>
        <tr class="">
            <td colspan="2" class="" style="text-align:center;">
                <a href="/wiki/Fayl:Shayh_Muhammad_Sodiq.jpg" class="image"><img alt="Shayh Muhammad Sodiq.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Shayh_Muhammad_Sodiq.jpg/220px-Shayh_Muhammad_Sodiq.jpg" decoding="async" width="220" height="220" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Shayh_Muhammad_Sodiq.jpg/330px-Shayh_Muhammad_Sodiq.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Shayh_Muhammad_Sodiq.jpg/440px-Shayh_Muhammad_Sodiq.jpg 2x" data-file-width="833" data-file-height="833"></a>
            </td>
        </tr>
        <tr class="">
            <td colspan="2" class="" style="text-align:center;">
            </td>
        </tr>
        <tr><th colspan="2" class="" style="text-align:center; background:lavender;line-height:normal;padding:0.2em;"><a href="/wiki/O%CA%BBrta_Osiyo_va_Qozog%CA%BBiston_musulmonlari_diniy_boshqarmasi" title="Oʻrta Osiyo va Qozogʻiston musulmonlari diniy boshqarmasi">Oʻrta Osiyo va Qozogʻiston musulmonlari diniy boshqarmasi</a> raisi</th></tr>
        <tr class="">
            <td colspan="2" class="" style="text-align:center; border-bottom:none">
                <span class="nowrap"><b>Mansab davri</b></span><p >1989-yildan</p>&nbsp;—&nbsp;<p >1993-yilgacha</p>
            </td>
        </tr>
        <tr class="">
            <th scope="row" style="text-align:left;">Oʻtmishdoshi</th>
            <td class="" style="border-bottom:none">
                <a asp-controller="Life" asp-action="Otmishdoshi" title="Shamsiddinxon Boboxonov">Shamsiddinxon Boboxonov</a><sup id="cite_ref-1" class="reference"><a href="#cite_note-1">[1]</a></sup>
            </td>
        </tr>
        <tr class="">
            <th scope="row" style="text-align:left;">Vorisi</th>
            <td class="" style="border-bottom:none">
                lavozim bekor qilingan
            </td>
        </tr>
        <tr><th colspan="2" class="" style="text-align:center; background:lavender">Shaxsiy maʼlumotlari</th></tr>
        <tr class="">
            <th scope="row" style="text-align:left;">Tavalludi</th>
            <td class="" style="">
                15-aprel 1952-yil<span style="display:none">(<span class="bday">1952-04-15</span>)</span><br><a asp-controller="Life" asp-action="Andijon" class="mw-redirect" title="Andijon">Andijon</a>, <a asp-controller="Life" asp-action="Fuqoroligi" class="mw-redirect" title="OʻzSSR">OʻzSSR</a>, <p>SSSR</p>
            </td>
        </tr>
        <tr class="">
            <th scope="row" style="text-align:left;">Vafoti</th>
            <td class="" style="">
                10-mart 2015-yil<span style="display:none">(<span class="dday">2015-03-10</span>)</span> <br> (62&nbsp;yoshda) <br> <a asp-controller="Life" asp-action="Toshkent" title="Toshkent">Toshkent</a>, <a asp-controller="Life" asp-action="Fuqoriligi" title="Oʻzbekiston">Oʻzbekiston</a>
            </td>
        </tr>
        <tr class="">
            <th scope="row" style="text-align:left;">Fuqaroligi</th>
            <td class="" style="">
                <a asp-controller="Life" asp-action="Fuqoroligi" class="mw-redirect" title="OʻzSSR">OʻzSSR</a><br><span style="white-space: nowrap;"><a asp-controller="Life" asp-action="Fuqoriligi" class="image" title="Oʻzbekiston bayrogʻi"><img alt="Oʻzbekiston bayrogʻi" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/84/Flag_of_Uzbekistan.svg/25px-Flag_of_Uzbekistan.svg.png" decoding="async" width="25" height="13" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/84/Flag_of_Uzbekistan.svg/38px-Flag_of_Uzbekistan.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/84/Flag_of_Uzbekistan.svg/50px-Flag_of_Uzbekistan.svg.png 2x" data-file-width="1000" data-file-height="500"></a> <a asp-controller="Life" asp-action="Fuqoriligi" title="Oʻzbekiston">Oʻzbekiston</a></span>
            </td>
        </tr>
        <tr class="">
            <th scope="row" style="text-align:left;">Otasi</th>
            <td class="" style="">
                Muhammad Yusuf ibn Muhammad Ali
            </td>
        </tr>
        <tr class="">
            <th scope="row" style="text-align:left;">Kasbi</th>
            <td class="" style="">
                qori, tarjimon
            </td>
        </tr>
        <tr class="">
            <th scope="row" style="text-align:left;">Dini</th>
            <td class="" style="">
                <a asp-controller="Life" asp-action="Islom">Islom</a>
            </td>
        </tr>
        <tr class="">
            <th scope="row" style="text-align:left;">Mukofotlari</th>
            <td class="" style="">
                <a asp-controller="Life" asp-action="Orderi" title="Xalqlar doʻstligi ordeni"><img alt="Xalqlar doʻstligi ordeni" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/27/Order_friendship_of_peoples_rib.png/40px-Order_friendship_of_peoples_rib.png" decoding="async" width="40" height="17" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/27/Order_friendship_of_peoples_rib.png/60px-Order_friendship_of_peoples_rib.png 1.5x, //upload.wikimedia.org/wikipedia/commons/2/27/Order_friendship_of_peoples_rib.png 2x" data-file-width="72" data-file-height="30"></a>
            </td>
        </tr>
    </tbody>
</table>
<style>
    .body{
        margin-top:800%; 
    }
</style>