<div class="Div">
    <div class="Order">
<p>Xalqlar doʻstligi ordeni — SSSRning davlat mukofotlaridan biridir. 1972-yil 17-dekabrda SSSR Oliy Kengashi Prezidiumining farmoni bilan SSSR tashkil topganligining 50 yilligini nishonlash maqsadida tashkil etilgan. SSSR Oliy Kengashi Prezidiumining 1980-yil 18-iyuldagi farmoni bilan buyruq toʻgʻrisidagi nizom qisman oʻzgartirildi. Ordenning eskizi muallifi — rassom Aleksandr Borisovich Juk. U 1991-yilda SSSR parchalanishi bilan birga oʻz faoliyatini toʻxtatdi, 1992—1994-yillarda Rossiya Federatsiyasi Xalqlar Doʻstligi ordeni sifatida mavjud edi.</p>
</div>

<div>
        <div>
            <img class="Order1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/SU_Order_of_Friendship_of_Peoples_ribbon.svg/90px-SU_Order_of_Friendship_of_Peoples_ribbon.svg.png" />
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d2/Orden_Drugby_narodov.jpg" />
        </div>
<h4>Xalqlar doʻstligi ordeni
SU Order of Friendship of Peoples ribbon.svg	Orden Drugby narodov.jpg
Asl nomi	ruscha: Орден Дружбы народов
Mamlakat	 SSSR
Turi	Orden
Statistika
Taʼsis sanasi	17-dekabr 1972-yilda
Navbat
Toʻngʻich mukofot	ruscha: Орден Трудового Красного Знамени
Kenja mukofot	ruscha: Орден Красной Звезды
    VikiOmborda Xalqlar doʻstligi ordeni
    </h4>
</div>
</div>

<style>
    .Div{
        display:flex;
    }

</style>