<h1>Shamsiddinxon Boboxonov</h1>
<div>
    <div>
        <p>Shamsiddinxon Boboxonov (1937—2003) — oʻzbek arabshunos olimi, filologiya fanlari doktori, diplomat, muallim, qori, diniy va jamoat arbobi, 1982-89 yillarda - Oʻrta Osiyo va Qozogʻiston musulmonlari diniy boshqarmasi raisi.</p>
    </div>
</div>